@import url("./global.css");

html,
body {
	background-color: #0e141a;
	color: #ffffff;
	background-image: url("./image/full-length-bg.png");
	background-size: cover;
	font-family: "GeneralSans-Variable";
}

.key {
	padding: 0.35rem 0.625rem;
	border-radius: 4px;
	margin: 0 0.35rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	transition: all 200ms ease-out;
}

.key:hover {
	background-color: rgba(255, 255, 255, 0);
	border-style: dashed;
}

.holder {
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%) rotate(-30deg);
	width: 255px;
	height: 62px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 12px;
}

.circle {
	background-color: #ff7d54;
	width: 43px;
	height: 43px;
	border-radius: 30px;
	place-content: flex-end;
	animation: swing 1600ms ease-in-out infinite forwards;
	transition: all 800ms ease-in-out;
}

@keyframes swing {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(430%);
	}
	100% {
		transform: translateX(0);
	}
}

.one-two {
	/* background-image: url("./bg-1.svg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.one {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 3.125rem;
}

.one h1 {
	margin-bottom: 3rem;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 3.125rem 4.6875rem;
}

nav {
	display: flex;
	column-gap: 3.125rem;
	width: 100%;
	place-content: flex-end;
	padding: 0 4.6875rem;
}

.two {
	height: 100vh;
	display: flex;
	padding-left: 4.6875rem;
	justify-content: space-between;
	align-items: center;
}

.two h2 {
	width: 35%;
	font-size: 1.875rem;
	line-height: 180%;
	font-weight: 550;
}

.three-four-five {
	height: 300vh;
	/* background-image: url("./bg-2.svg"); */
	background-size: cover;
	background-position: top;
}

.three {
	padding: 0 4.6875rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.cards {
	display: flex;
	margin-top: 3.125rem;
	align-items: center;
}

.card-one {
	background-image: url("./image/card-one.png");
	height: 314px;
	width: 417px;
}

.card-two {
	background-image: url("./image/card-two.png");
	height: 314px;
	width: 635px;
	margin: 0 1.25rem;
}

.cards div {
	display: flex;
	background-size: cover;
	padding: 1.5rem;
}

.cards div h2 {
	align-self: flex-end;
	font-size: 1.5625rem;
	font-weight: 550;
}

.cards a {
	transition: all 400ms ease-out;
}

.cards > a:hover::after {
	width: 0%;
}

.cards > a svg {
	animation: rotate 5000ms linear infinite forwards;
	transition: all 300ms ease-in-out;
}

.cards > a:hover {
	transform: scale(0.75);
}

@keyframes rotate {
	0% {
		transform: rotateZ(0);
	}
	50% {
		transform: rotateZ(180deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.four {
	padding: 0 4.6875rem;
	height: 100vh;
}

.four > .name-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.four > .name-buttons > .name > h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 0;
}
.four > .name-buttons > .name > p {
	font-size: 0.875rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0.5rem;
	opacity: 0.5;
}

.four h2 {
	font-size: 3.125rem;
	font-weight: 600;
	letter-spacing: -3%;
	width: 85%;
}

.four * {
	margin-top: 3.125rem;
}

.name,
.buttons {
	margin-top: 0;
}

.four > .name-buttons > .buttons > button > svg {
	margin-top: 0;
}

.four > .name-buttons > .buttons > button {
	background-color: transparent;
	border: none;
	/* outline: none; */
	flex-grow: 0;
	margin-top: 0;
	margin-left: 1rem;
	transition: all 200ms ease-in-out;
}

.four > .name-buttons > .buttons > button:hover {
	transform: scale(0.95);
	background-color: transparent;
	cursor: pointer;
	opacity: 0.7;
}

.four > .timer {
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 3px;
	display: flex;
}

.timer > span {
	margin-top: 0;
	background-color: #ffffff;
	width: 0%;
	animation: fill 3000ms ease-in;
}

@keyframes fill {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.five {
	color: #000000;
	margin: 0 4.6875rem;
	height: auto;
}

.five div {
	background-color: #ffffff;
	padding: 3.75rem 3.125rem;
	border-radius: 3.125rem;
	display: flex;
}

.five div p {
	opacity: 0.5;
	line-height: 150%;
}

.five .engagement-model h2 {
	font-size: 2.5rem;
	margin-bottom: 0.9375rem;
}

.five .engagement-model span:nth-child(1) {
	margin-right: 6.25rem;
	width: 100%;
}

.five .engagement-model span:nth-child(2) {
	margin-right: 1.25rem;
}
.five .engagement-model span h3 {
	font-size: 1.875rem;
	margin-bottom: 0.9375rem;
}
.five .engagement-model span:nth-child(2) h3 {
	background: -webkit-linear-gradient(0deg, #ff7d54 0.44%, #f9337a 68.74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.five .engagement-model span:nth-child(3) h3 {
	background: -webkit-linear-gradient(0deg, #ffcf25 2.45%, #ea7019 52.9%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.five .engagement-model span:nth-child(3) {
	width: 100%;
}

.five .tools {
	position: relative;
	align-items: center;
}

.five .tools::before {
	content: "";
	top: 0;
	width: auto;
	position: absolute;
	height: 1px;
	width: calc(100% - 90px);
	background: url("data:image/svg+xml,%3Csvg width='1203' height='2' viewBox='0 0 1203 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.74228e-08' y1='1' x2='1203' y2='1.00011' stroke='black' stroke-width='2' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A");
}

.five .tools h2 {
	font-size: 2.5rem;
	width: 38%;
}

.five .tools .logo img {
	margin-right: 3.75rem;
}

footer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer #big-mail {
	font-size: 18.75rem;
	font-weight: 600;
	letter-spacing: -1rem;
	transition: all 300ms ease-in-out;
}

footer #big-mail:hover {
	opacity: 0.7;
	text-decoration: none;
	transform: scale(0.95);
}

footer #big-mail:hover::after {
	width: 0;
}

footer form {
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.8375rem;
	border-radius: 9px;
}

footer form button {
	padding: 0.9375rem;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	border: none;
	outline: none;
	font-size: 1.125rem;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
footer form button:hover {
	transform: scale(0.95);
}

footer form button svg {
	margin-left: 0.625rem;
	vertical-align: sub;
}

footer form input {
	padding: 0.9375rem;
	font-size: 1.125rem;
	color: #ffffff;
	background-color: transparent;
	outline: none;
	border: none;
	text-transform: uppercase;
	font-weight: 600;
}

footer * {
	font-size: 1.125rem;
	font-weight: 600;
}

footer span {
	margin-top: 6.25rem;
}

footer span p:nth-child(1) {
	text-align: center;
	margin-bottom: 1.625rem;
}

footer .objects {
	pointer-events: none;
	position: absolute;
	z-index: 0;
	padding: 0 3.875rem;
	width: 100%;
	height: 100%;
}

footer .objects-mobile {
	display: none;
}

footer .objects path {
	opacity: 0;
	/* animation: up 800ms cubic-bezier(0.030, 0.795, 0.450, 0.870) forwards; */
}

@keyframes up {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 480px) {
	html,
	body {
		background-position: top;
		background-size: auto 100% !important;
	}

	header p {
		display: none;
	}
	header {
		width: auto;
		justify-content: center;
		align-items: center;
	}

	.one h1 svg {
		transform-origin: center;
		width: auto;
		height: 50px;
	}

	.one {
		height: 95vh;
	}

	nav {
		padding: 0 1.25rem;
		justify-content: space-between;
		align-items: center;
		column-gap: normal;
	}

	.two {
		padding: 0 1.25rem;
		flex-direction: column;
		margin-top: 15rem;
		justify-content: normal;
		row-gap: 1.25rem;
		height: auto !important;
		margin-bottom: 10rem;
	}

	.two h2 {
		width: 100%;
	}

	.two svg {
		/* display: none; */
		transform-origin: center;
		width: 100%;
		height: auto;
	}

	.three-four-five {
		height: auto;
	}

	.three {
		padding: 0 1.25rem;
	}

	.cards {
		flex-direction: column;
		margin-top: 1.25rem;
		row-gap: 1.25rem;
	}

	.cards a {
		margin-top: 3rem;
	}

	.three h2 svg {
		transform-origin: left;
		transform: scale(0.8);
	}

	.cards div {
		width: 100%;
		border-radius: 30px;
	}

	.four {
		padding: 0 1.25rem;
		margin-top: 15rem;
		height: 75vh;
	}

	.four h2 {
		font-size: 1.875rem;
		width: 100%;
	}

	.five {
		margin: 0;
		padding: 0 1.25rem;
	}
	/* 
	.five div{
		padding: 1.875rem 1.25rem;
	} */

	.engagement-model {
		border-radius: 30px !important;
		flex-direction: column !important;
		row-gap: 1.875rem !important;
		padding: 1.875rem !important;
	}

	.five .engagement-model span {
		margin-right: 0 !important;
	}

	.five .engagement-model span h2 {
		font-size: 1.75rem;
		line-height: 150%;
	}
	.five .engagement-model span h3 {
		font-size: 1.25rem !important;
	}

	.five .tools {
		border-radius: 30px;
		flex-direction: column;
		row-gap: 2rem;
		padding: 1.875rem;
	}

	.tools h2 {
		width: 100% !important;
		font-size: 1.5rem !important;
	}

	.logo {
		display: flex;
		column-gap: 0.15rem;
	}

	.logo img {
		margin-right: 0 !important;
		transform: scale(0.75) !important;
	}

	footer {
		margin-top: 10rem;
		padding: 0 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90vh;
	}

	footer #big-mail {
		font-size: 9.375rem;
		letter-spacing: -0.5rem;
	}

	footer form input {
		text-align: center !important;
		width: 100%;
	}

	footer form button {
		/* display: inline-flex; */
		flex-direction: row;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	footer span * {
		font-size: 1rem !important;
	}

	footer .objects {
		display: none !important;
	}
	footer .objects-mobile {
		display: block;
		width: 100%;
		position: absolute;
		z-index: 0;
		pointer-events: none;
	}
	footer .objects-mobile path{
		opacity: 0;
	}
}
